html{
    box-sizing:border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    min-width: 320px;
    word-break: normal;
    font-family: "Roboto", sans-serif;
}

/* global */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* header ---------------------------------------------------------------*/

.header {
    padding: 26px 0 36px 0;
}
.header-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.header-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 28px 0;
    border-bottom: 1px solid #7A7A7A;
}

.header-logo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-end
}

.header-logo-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}

.header-logo-img {
    width: 41px;
    height: 35px;
    margin: 0 0 8px 0;
}

.header-logo-text {
    color: #45536D;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.header-top-text {
    color: #434A5C;
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
    padding: 0 0 4px 0;
}

.header-links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.header-links-feedback {
    color: #576698;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
}

.header-links-feedback::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    transition: all 0.5s ease;
    bottom: 25%;
}

.header-links-feedback:hover::after {
    width: 100%;
    height: 2px;
    background-color: #576698;
}

.header-links-phone {
    color: #484848;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    padding: 0 0 2px 0;
}

.header-bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 0 0;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.header-nav-element {
    color: #7A7A7A;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
}

.active {
    color: #141414;
}

/* preview ------------------------------------------------------*/

.preview-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.preview-img {
    padding: 0 0 24px 0;
    border-bottom: 1px solid #7A7A7A;
}

.preview-title {
    max-width: 735px;
    color: #141414;
    font-size: 64px;
    font-weight: 600;
    line-height: 128%;
    text-transform: uppercase;
    padding: 28px 0 32px 0;
}

/* entertainments ----------------------------------------------------*/

.entertainments-section {
    margin: 0 0 68px 0
}

.entertainments-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0 92px 0;
    border-bottom: 1px solid #7A7A7A;
}

.entertainment-title {
    color: #BF6024;
    font-size: 28px;
    font-weight: 600;
    line-height: 128%;
    padding: 0 0 32px 0;
}

.entertainments-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 28px;
    row-gap: 72px;
}

.sport-card {
    width: 555px;
    height: 332px;
    grid-column: 1 / span 6;
}

.entertainment-card {
    width: 555px;
    height: 332px;
    grid-column: 7 / span 6;
}

.foot-walk-card {
    width: 555px;
    height: 332px;
    grid-column: 1 / span 6;
    grid-row: 2;
}

.spa-card {
    width: 555px;
    height: 332px;
    grid-column: 7 / span 6;
    grid-row: 2;
}

.entertainment-card-image {
    margin: 0 0 12px 0;
}

.entertainment-card-title {
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    line-height: 128%;
    text-transform: uppercase;
}

/* residence -------------------------------------------------------*/
.residence-section {
    margin: 0 0 56px 0;
}
.residence-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0 76px 0;
    border-bottom: 1px solid #7A7A7A;
}

.residence-title {
    color: #BF6024;
    font-size: 28px;
    font-weight: 600;
    line-height: 128%;
    padding: 0 0 32px 0;
}

.residence-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}

.residence-card-apartments {
    background-image: url("../img/residence/apartments-image.png");
    width: 555px;
    height: 600px;
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.residence-card-apartments-wrapper {
    padding: 0 0 28px 34px;
}

.residence-apartments-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 128%;
    text-align: left;
    padding: 0 0 24px 0;
}

.residence-apartments-buttons {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.residence-button-book {
    width: 145px;
    height: 28px;
    color: #E5C6B2;
    background-color: #BF6024;
    font-size: 14px;
    font-weight: 500;
    line-height: 128%;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 5px 13px;
}

.residence-button-view {
    width: 120px;
    height: 28px;
    color: #E5C6B2;
    font-size: 14px;
    font-weight: 500;
    line-height: 128%;
    text-transform: uppercase;
    border: 1px solid #E5C6B2;
    border-radius: 50px;
    padding: 5px 13px;
}

.residence-card-hotel {
    background-color: #EAEDF2;
    width: 540px;
    height: 285px;
    grid-column: 7 / span 6;
    grid-row: 1;
    display: flex;
    align-items: center;
}

.residence-card-wrapper {
    padding: 0 0 0 72px;
}

.residence-card-hotel-title {
    max-width: 205px;
    color: #141414;
    font-size: 24px;
    font-weight: 600;
    line-height: 128%;
    padding: 0 0 28px 0;
}

.residence-button-choose {
    width: 144px;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px solid #BF6024;
    border-radius: 50px;
    padding: 5px 13px;
}

.residence-button-choose-text {
    color: #BF6024;
    font-size: 14px;
    font-weight: 500;
    line-height: 128%;
    text-transform: uppercase;
}

.residence-card-loyalty {
    background-color: #EAEDF2;
    width: 540px;
    height: 285px;
    grid-column: 7 / span 6;
    grid-row: 2;
    display: flex;
    align-items: center;
}

.residence-card-loyalty-title {
    color: #141414;
    font-size: 24px;
    font-weight: 600;
    line-height: 128%;
    padding: 0 0 12px 0;
}

.residence-card-loyalty-text {
    max-width: 262px;
    color: #141414;
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
    padding: 0 0 24px 0;
}

.residence-loyalty-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.residence-apartments-book {
    width: 125px;
    height: 28px;
    color: #E5C6B2;
    background-color: #BF6024;
    font-size: 14px;
    font-weight: 500;
    line-height: 128%;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 5px 13px;
}

.residence-apartments-view {
    width: 110px;
    height: 28px;
    color: #BF6024;
    font-size: 14px;
    font-weight: 500;
    line-height: 128%;
    text-transform: uppercase;
    border: 1px solid #BF6024;
    border-radius: 50px;
    padding: 5px 13px;
}

/* footer -----------------------------------------------------*/
.footer {
    color: #424242;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin: 0 0 70px 0;
}

.footer-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about_us {
    display: grid;
}

.copyright-text {
    font-weight: 600;
    padding: 0 0 8px 0;
}

.site-link {
    padding: 0 0 14px 0;
}
.feedback {
    display: grid;
}

.feedback-link {
    font-weight: 600;
    text-decoration: underline;
    padding: 0 0 22px 0;
}

.company-address {
    display: grid;
}

.offer-information {
    width: 340px;
}